<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>Rango</title>
    </head>
    <body>
        <h1>Rango says...</h1>
        <div>
            here is the about page. <br />
            <strong>This tutorial has been put together by Yu-Sung Hsu.</strong>
        </div>
        <div>
            <a href="/rango/">Go Back</a><br />
            <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
            <img src="/media/cat.jpg" alt="Picture of a Cat" />
        </div>
    </body>
</html>

