{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
About Rango
{% endblock %}

{% block body_block %}
<h1>Rango says...</h1>
<div>
    <p>Visits: {{ visits }}</p>
    here is the about page. <br />
    <strong>This tutorial has been put together by Yu-Sung Hsu.</strong>
</div>
<div>
    <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
    <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" /> 
    <button class="btn btn-primary"
    onclick="alert('You clicked the button using inline JavaScript.');">
    Click me - I run on vanilla JavaScript! </button>
    <button class="btn btn-primary" id="about-btn"> Click me - I'm using JQuery!</button>
    <p class="ouch">Whhhhtat?</p>
    <div id="msg">Hello! I'm a further example for JQuery testing.</div>
</div>
{% endblock %}
